<div class="carousel">
    <p-carousel *ngIf="movies" [value]="movies" [numVisible]="6" [numScroll]="1" [circular]="false" 
    [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
            <h3 class="text-white m-3">{{ genre }}</h3>
        </ng-template>
        <ng-template let-movie pTemplate="item">
            <div class="product-item">
                
                <div class="product-item-content p-0" [ngClass]="movies.length < 6 ? 'custom': '' ">
                    <a class="link" routerLink="/movie/{{movie.id}}/{{movie.title | textTransform}}">
                        <div class="mb-3">
                            <img *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w342' + movie.poster_path" 
                            alt="poster-image" class="product-image w-100" />

                            <img *ngIf="!movie.poster_path" src="../../../assets/no-poster-image.svg" class="product-image w-100" 
                            alt="poster image">
                        </div>
                        <div class="p-2">
                            <h5 class="mb-1">{{movie.title | shorten}}</h5>
                            <span>{{ movie.release_date | date: 'mediumDate' }}</span>
                            <span class="movie-rating badge rounded-pill bg-dark" 
                    [ngClass] = "movie.vote_average > 6 ? 'text-warning' : 'text-danger' ">
                            <i class="fas fa-star"></i> {{ movie.vote_average | number: '1.0-1' }}</span>
                        </div>
                </a>
                </div>
                
            </div>
        </ng-template>
    </p-carousel>
</div>
