@import '../../stylization';

.carousel-inner {
    .carousel-item {
        max-height: 580px;

        .carousel-caption {
            background-color: black; 
            color: white; 
            opacity: .7;
            padding: 5px;
        };
    };
};

.spinner-container {
    @extend %spinner-style;
}